*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    margin-left: 300px;
    margin-top: 150px;
    border-radius: 5px;
    /* -webkit-filter: grayscale(); */
        /* -webkit-filter: invert(); */
            /* -webkit-filter: opacity(0.5);  */
                 -webkit-filter:  blur(1px) grayscale(0.5) contrast(0.5); 

}
#A{
    /* -webkit-filter: brightness(100%); */
        /* -webkit-filter: contrast(100%); */
        /* -webkit-filter: saturate(2); */
}