*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    font-family: fantasy;
    text-transform: uppercase;
    text-align: center;
    border: 10px solid greenyellow;
    background-color: brown;

}
p{
    margin-top: 50px;
    border: 15px solid palevioletred;
    text-align: center;
    font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
  background-color:burlywood;
}