.parent{
 position: relative;
    height: 700px;
    width: 700px;
    border: 2px solid black;
    background: #F1F2B5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 0 auto;
}
h1{
    text-align: center;
}
.child-1{
    height: 100px;
   width: 100px; 
   background-color: #F1F2B5;
   border: 2px solid red;
   position: absolute;
   top: 0;
   left: 0;
}
.child-2{
    height: 100px;
   width: 100px; 
   background-color: #F1F2B5;
   border: 2px solid red;
   position: absolute;
   top: 0;
   right: 0;
}
.child-3{
    height: 100px;
   width: 100px; 
   background-color: #F1F2B5;
   border: 2px solid red;
   position: absolute;
bottom: 0;
left: 0;
}
.child-4{
    height: 100px;
   width: 100px; 
   background-color: #F1F2B5;
   border: 2px solid red;
   position: absolute;
bottom: 0;
right: 0;
}
.child-5{
  height: 150px;
   width: 150px; 
   background-color: #F1F2B5;
   border: 2px solid red;
  border-radius: 50%;
position: absolute;
left: 50%;
bottom: 30%;
transform: translate(-50%,-50%);
}